<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
	<head>
		<meta charset="UTF-8">

 		<script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		
		<link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}" />
		<link href="/css/estilo_gral.css?version=1.01" rel="stylesheet" />
 		
		<title>ServiTec</title>
	</head>
	
	<body>
		<div class="container-fluid ml-1">
			<div class="jumbotron mt-2">
				<h2>Servicio T&eacute;cnico</h2>
			</div>
		
			<div class="container-fluid my-2 p-1" 
					style="height:100%;border: 2px solid Teal; border-radius: 0.5rem">
				<a href="/menu">Ir a Menu Supervisor</a>

			</div>  <!-- menú ppal, zona de edición y tabla -->
			
		</div>  <!-- container ppal -->

		<footer th:replace="fragments/complementos :: pie_pagina"></footer>		
	</body>
</html>
