<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
	<head>
		<meta charset="UTF-8">
<!-- 		<meta name="_csrf" th:content="${_csrf.token}"/> -->

 		<script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		
		<link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}" />
		
		<link href="/css/estilo_gral.css?version=1.01" rel="stylesheet" />
 		
		<title>Orden de Trabajo</title>
	</head>
	
	<body>
		<script src="/js/ot.js?version=1.01" ></script>
		<script src="/js/lib.js?version=1.01" ></script>
		
		<script type="text/javascript">
			// Global: la selección en la lista "#menuModos". 
			//			  Guarda el objeto 'option' seleccionado en esa lista. 
			var modoSelecc;
		
			function cambioModo() {
				// Acciones a seguir cuando se escoge una opción el el menú de modos.
				modoSelecc = $('#menuModos').children(':selected');

				if ( modoSelecc.val() == 'crear' )
					$('#btnCrear').show();
				else
					$('#btnCrear').hide();

				if ( modoSelecc.val() == 'x' )
					$('#tablaDatos tbody').html('');
				else				
					ajax_listar();
			}

			$(document).ready(function() {
				// Programo el evento clic sobre las filas de datos 
				$("#tablaDatos tbody").on('click', 'tr', function() {
					if ( modoSelecc.val() == 'crear' )
						// El modo 'crear' se atiende a través del botón 'btnCrear'
						return;
						
					// Cargo los datos de la fila selecc. para modif. o elim.
					$('.modal-title').html(modoSelecc.html()+' persona');
					
					$("#lblId").text( $(this).find('td').eq(0).text() );
					$("#txtRut").val( $(this).find('td').eq(1).text() );
					$("#txtNombre").val( $(this).find('td').eq(2).text() );
					$("#txtDireccion").val( $(this).find('td').eq(3).text() );
					$("#txtFono").val( $(this).find('td').eq(4).text() );
					
					// Abro el modal
					$("#modalEdicion").modal('show');
					
					// Los inputs del modal quedan readonly en modo 'eliminar'
					if ( modoSelecc.val() == 'eliminar' ) {
						$('#inputsModal .input-sm').prop('readonly', true);
						$('#btnOk').text('Eliminar');
						$('#btnCancelar').focus();
					}
					else {
						$('#inputsModal .input-sm').prop('readonly', false);
						$('#btnOk').text('Grabar');
						$('#txtRut').focus();
					}
				})

				// Programo el evento clic del botón "btnCrear" 
				$("#btnCrear").on('click', () => {nuevaPersona();})
				
			})	
		</script>
	
		<div class="container-fluid ml-1">
			<div class="jumbotron mt-2">
				<h2>Orden de Trabajo</h2>
			</div>
		
			<div>
				Cliente:&nbsp;
				<input id="rutCliente" maxlength="8" value=""/>&nbsp;
				<label id="lblCliente"></label>
			</div>
			<hr>
			
			<div th:replace="fragments/complementos :: modos_agregar_mensajes"></div>
			
			<!--	Tabla para mostrar el listado -->
			<div class="table-responsive">
				<table class="table table-condensed table-bordered" id="tablaDatos"	data-toggle="table">
					<thead>
						<tr>
							<th>#ID</th>
							<th>RUT</th>
							<th>Nombre</th>
							<th>Direcci&oacute;n</th>
							<th>Tel&eacute;fono</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>

			<div class="modal" id="modalEdicion">
				<div class="modal-dialog">
					<div class="modal-content">
		
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">
								
							</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
		
						<!-- Modal body -->
						<div class="modal-body">
							<div class="form-group" id="inputsModal">
								<label class="label ml-2">ID:&nbsp;</label>
								<label id="lblId" class="label ml-2" style="border:1;width:100px"></label>
								
								<br>
								<label for="txtRut" class="label ml-2">RUT:</label>
								<br>
								<input class="input-sm ml-2" type="text" id="txtRut" style="min-width:15%;" maxlength="8">
								
								<br>
								<label for="txtNombre" class="label ml-2 mt-3">Nombre:</label>
								<br>
								<input class="input-sm ml-2" type="text" id="txtNombre" maxlength="60" style="min-width:60%">
			
								<br>
								<label for="txtDireccion" class="label ml-2 mt-3">Direcci&oacute;n:</label>
								<br>
								<input class="input-sm ml-2" type="text" id="txtDireccion" maxlength="60" style="min-width:60%">
			
								<br>
								<label for="txtFono" class="label ml-2 mt-3">Tel&eacute;fono:</label>
								<br>
								<input class="input-sm ml-2" type="text" id="txtFono" maxlength="20" style="min-width:20%">
							</div>
						</div>
		
						<!-- Modal footer -->
						<div class="modal-footer">
							<div class="btn-group">
								<button type="button" id="btnOk" class="btn btn-success mx-1" onClick="accion()">
									OK
								</button>
								<button type="button" id="btnCancelar" class="btn btn-danger mx-1" data-dismiss="modal">
									Cerrar
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
				
		</div>  

		<footer th:replace="fragments/complementos :: pie_pagina"></footer>		
	</body>
</html>
